.products-page{
    background-color: #f6f5f5;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.white-line{
    padding: 0;
    margin-left: 5px;
    background-color: white;
    opacity: 1;
    padding-left: 5px;
}
.range-text{
    font-weight: bold;
}
.sidebar a:hover{
    background-color: #72BBFF;
    margin-right: 16px;
    margin-left: -10px;
}
.category-text{
    margin-top: 2%;
}
.filter-section{
    box-shadow: 11px 10px 29px -10px rgba(0,0,0,0.75);
    background-color: #ED5264;
    height: 50%;
}
.box2{
    width: 100%;
    /* margin-left: 50px; */
}

@media (max-width: 768px) {
    .filter-section{
        display: none;
    }
}