.navbar{
    background-color: white;
    box-shadow: 0px 6px 16px 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    /* font-weight: bold; */
}
.color-nav{
  margin-left: 10px;
}
.color-nav .dropdown-item{
    color: #ED5264;
}
.color-nav .dropdown-menu{
    padding-top: 5px;
}
.navbar .navbar-brand{
    padding: 0;
    margin:0;
}
hr.dropdown-divider{
    border-top: 1px solid #b4b4b4;
}
.form-control{
    margin-left: 20px;
    width: 28%;
}
.navbar .input-group{
    margin-top: 15px;
    width: 35%;
}
a.sign-inLeft{
    display: none;
}
a.cart-icon{
    display: none;
}
.sign-inLeft, .sign-inRight{
    padding: 20px;
}

@media (max-width: 992px) {
    a.cart-iconRight, .sign-inRight{
        display: none;
    }
    a.cart-icon{
        display: inline;
        padding: 20px;
        margin-left: auto;
    }
    a.sign-inLeft{
        display: inline;
    }
    /* .sign-inRight{
        display: inline;
        margin: 10px;
    } */
}
